<ion-header> </ion-header>

<ion-content scroll-y="false">
	<ion-grid fixed>
		<ion-row class="row">
			<ion-col>
				<img src="../assets/img/walksafe.png" alt="" />
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12">
				<ion-item>
					<ion-input
						placeholder="Ingresar e-mail"
						type="text"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-input
						placeholder="Ingresar password"
						type="password"
					></ion-input>
				</ion-item>
				<ion-button
					(click)="login()"
					expand="full"
					shape="round"
					color="light"
				>
					Login
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
