<ion-header>
	<ion-toolbar>
		<ion-title>walksafe</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
	<ion-grid fixed>
		<ion-col>
			<img
				src="https://img.freepik.com/free-vector/walk-city-illustration-concept_114360-782.jpg?size=626&ext=jpg"
				alt=""
			/>
		</ion-col>
		<ion-row>
			<ion-col size="12">
				<ion-button
					(click)="login()"
					expand="block"
					fill="clear"
					shape="round"
					color="medium"
				>
					Login
				</ion-button>
			</ion-col>
			<ion-col size="6"></ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
