<ion-content [fullscreen]="true" scroll-x="false" scroll-y="false">
	<ion-header translucent="true" slot="fixed">
		<div class="inputs">
			<ion-input
				class="ion-padding"
				placeholder="A donde vas?"
			></ion-input>
		</div>
		<div button class="inputs">
			<ion-input
				class="ion-padding"
				placeholder="Quién puede ver tu ubicación?"
			></ion-input>
		</div>
	</ion-header>
	<div #map id="map" (click)="placeMarker($event)"></div>

	<ion-fab
		vertical="bottom"
		horizontal="end"
		slot="fixed"
		*ngIf="!isTracking"
	>
		<ion-fab-button (click)="startTracking()">
			<ion-icon name="send"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isTracking">
		<ion-fab-button (click)="stopTracking()">
			<ion-icon name="stop"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="isTracking">
		<ion-fab-button (click)="sendAlert()" color="danger">
			<ion-icon name="warning"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>
