#map {
	width: 100%;
	height: 100%;
}
.inputs {
	height: 20%;
	display: flex;
	justify-content: center;
	margin: 3%;
}
ion-searchbar {
	padding: auto 0;

	opacity: 0.6;
	border-radius: 25px;
	margin: 0px;
	color: black;
}

ion-fab {
	margin-right: 5px;
	margin-bottom: 20px;
}
