<ion-content [fullscreen]="true" scroll-x="false" scroll-y="false">
	<ion-header translucent="true" slot="fixed">
		<div class="inputs" *ngIf="!isTracking">
			<ion-searchbar
				id="searchTextField"
				class="ion-padding"
				placeholder="A donde vas?"
				debounce="500"
				(ionChange)="trackWithDestination(-34.921335, -57.954500)"
			></ion-searchbar>
		</div>

		<!-- <div button class="inputs" *ngIf="!isTracking">
			<ion-searchbar
				class="ion-padding"
				placeholder="Quién puede ver tu ubicación?"
			></ion-searchbar>
		</div> -->
	</ion-header>
	<div #map id="map" (click)="placeMarker($event)"></div>

	<ion-fab
		vertical="bottom"
		horizontal="end"
		slot="fixed"
		*ngIf="!isTracking"
	>
		<ion-fab-button (click)="startTracking()">
			<ion-icon name="send"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isTracking">
		<ion-fab-button (click)="stopTracking()">
			<ion-icon name="stop"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-fab
		vertical="bottom"
		horizontal="start"
		slot="fixed"
		*ngIf="isTracking"
	>
		<ion-fab-button (click)="sendAlert()" color="danger">
			<ion-icon name="warning"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
